CSV_OUTPUT_DIR=
CONFIG_DIR=

GEMINI_API_KEY=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=

DATABASE_URL=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=macro_events

AGENT_THRESHOLD=66
AGENT_INTERVAL_SECONDS=300
